<div class="box-shadow">
    <div class="loader" *ngIf="loader.isLoading$ | async">
        <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" width="30">
    </div>
    <h2 class="font-weight-bold text-center">
        <span>Search</span> Results:
        <span class="note" *ngIf="!searchedValue">search in the above box to see something</span>
    </h2>
    <ul class="list">
        <li *ngFor="let google of searchedValue">
            <a href="{{google.link}}" class="link"><span class="title d-block">{{google.title}}</span></a>
            <span class="d-block descrp">{{google.snippet}}</span>
        </li>
    </ul>
</div>